.container {
    display: flex;
    justify-content: right;
    background-color: #EBE4E4;
    border-radius: 25px;
}

.link-container {
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.link {
    color: #08415c;
    margin: 10px;
    font-weight: 700;
}